In [2]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions.{col, date_format, from_unixtime, lit, month, to_date, year}

import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions.{col, date_format, from_unixtime, lit, month, to_date, year}

In [3]:
val sparkSession = SparkSession
    .builder()
    .master("local[*]")
    .appName("curso")
    .config("spark.some.config.option", "some-value")
    .getOrCreate()

sparkSession: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@6f7d3f6a

In [5]:
val leer = sparkSession.read.parquet("orders_parquet/741ca897-c70e-4633-b352-5dc3414c5680.parquet")

leer: org.apache.spark.sql.DataFrame = [order_id: int, order_date: bigint ... 2 more fields]

In [6]:
val fil = leer.select(col("order_id"),
    to_date(from_unixtime(col("order_date") / 1000,"yyyy-MM-dd HH:mm:ss"),"yyyy-MM-dd HH:mm:ss").as("order_date"),
    col("order_status"))
    .filter("order_status = 'COMPLETE'")
    .select(col("order_id"),
      date_format(col("order_date"),"dd-MM-yyyy").as("order_date"))
    .show()

+--------+----------+
|order_id|order_date|
+--------+----------+
|       3|25-07-2013|
|       5|25-07-2013|
|       6|25-07-2013|
|       7|25-07-2013|
|      15|25-07-2013|
|      17|25-07-2013|
|      22|25-07-2013|
|      26|25-07-2013|
|      28|25-07-2013|
|      32|25-07-2013|
|      35|25-07-2013|
|      45|25-07-2013|
|      56|25-07-2013|
|      63|25-07-2013|
|      65|25-07-2013|
|      67|25-07-2013|
|      71|25-07-2013|
|      72|25-07-2013|
|      76|25-07-2013|
|      80|25-07-2013|
+--------+----------+
only showing top 20 rows

fil: Unit = ()

In [9]:
val order = leer.filter(col("order_status").equalTo("COMPLETE"))
    .select(col("order_id"), to_date(from_unixtime(col("order_date")/1000, "yyyy-MM-dd HH:mm:ss"), "yyyy-MM-dd HH:mm:ss")
      .as("order_date"),
      col("order_status"))

order: org.apache.spark.sql.DataFrame = [order_id: int, order_date: date ... 1 more field]

In [11]:
order.show()

+--------+----------+------------+
|order_id|order_date|order_status|
+--------+----------+------------+
|       3|2013-07-25|    COMPLETE|
|       5|2013-07-25|    COMPLETE|
|       6|2013-07-25|    COMPLETE|
|       7|2013-07-25|    COMPLETE|
|      15|2013-07-25|    COMPLETE|
|      17|2013-07-25|    COMPLETE|
|      22|2013-07-25|    COMPLETE|
|      26|2013-07-25|    COMPLETE|
|      28|2013-07-25|    COMPLETE|
|      32|2013-07-25|    COMPLETE|
|      35|2013-07-25|    COMPLETE|
|      45|2013-07-25|    COMPLETE|
|      56|2013-07-25|    COMPLETE|
|      63|2013-07-25|    COMPLETE|
|      65|2013-07-25|    COMPLETE|
|      67|2013-07-25|    COMPLETE|
|      71|2013-07-25|    COMPLETE|
|      72|2013-07-25|    COMPLETE|
|      76|2013-07-25|    COMPLETE|
|      80|2013-07-25|    COMPLETE|
+--------+----------+------------+
only showing top 20 rows

In [12]:
val con = order.filter(year(col("order_date")).equalTo(2014) and
    (month(col("order_date")).equalTo(1) or month(col("order_date")).equalTo(7)))
    .select(col("order_id"), date_format(col("order_date"), "dd-MM-yyyy")
      .as("order_date"), col("order_status"))

con: org.apache.spark.sql.DataFrame = [order_id: int, order_date: string ... 1 more field]

In [13]:
con.show()

+--------+----------+------------+
|order_id|order_date|order_status|
+--------+----------+------------+
|   25882|01-01-2014|    COMPLETE|
|   25888|01-01-2014|    COMPLETE|
|   25889|01-01-2014|    COMPLETE|
|   25895|01-01-2014|    COMPLETE|
|   25897|01-01-2014|    COMPLETE|
|   25898|01-01-2014|    COMPLETE|
|   25901|01-01-2014|    COMPLETE|
|   25902|01-01-2014|    COMPLETE|
|   25907|01-01-2014|    COMPLETE|
|   25913|01-01-2014|    COMPLETE|
|   25914|01-01-2014|    COMPLETE|
|   25915|01-01-2014|    COMPLETE|
|   25916|01-01-2014|    COMPLETE|
|   25918|01-01-2014|    COMPLETE|
|   25919|01-01-2014|    COMPLETE|
|   25920|01-01-2014|    COMPLETE|
|   25921|01-01-2014|    COMPLETE|
|   25922|01-01-2014|    COMPLETE|
|   25924|01-01-2014|    COMPLETE|
|   25926|01-01-2014|    COMPLETE|
+--------+----------+------------+
only showing top 20 rows

In [14]:
con.write.format("json").mode("Overwrite")
    .save("q1/solution")